{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Recipes{% endblock %}</title>
    <!-- Include static files using the static tag -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Add more head content as needed -->
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- Include static files using the static tag -->
    <script src="{% static 'js/base.js' %}"></script>
    <!-- Add more scripts or foot content as needed -->
</body>
</html>
