{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'recipes:login' %}" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
{% endblock %}

{% block additional_styles %}
    <style>
        /* Additional styles for the login page */
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .login-container h2 {
            text-align: center;
            color: #4285f4;
        }

        .login-form {
            margin-top: 20px;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #4285f4;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login-form button:hover {
            background-color: #3a73bf;
        }
    </style>
{% endblock %}
